NODE_ENV=development
PORT=3000

# Security
JWT_SECRET=super-secret-local-key
JWT_EXPIRES_IN=7d

# Database
DB_PATH=./database/hackburger.db

# Email (Mailtrap for dev)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=user
SMTP_PASS=pass

# CORS
CORS_ORIGIN=http://localhost:4200
